* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Helvetica Neue', 'Sans-serif';
}

.content-product {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.image-product {
    flex: 3;
}

.img-product img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.info-product {
    flex: 1;
    flex-basis: 40px;
}

.name-product {
   font-size: 25px;
   font-weight: 400;
   margin-bottom: 10px;
}

.price {
    color: #B48C73;
    font-size: 45px;
    margin-bottom: 10px;
}

.sale-price {
    font-size: 20px;
    text-decoration: line-through;
    color: #D9D9D8;
    margin-bottom: 8px;
}

.sharp-product, .metallic-color, .material-product,
.product-code {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.product-code p {
    font-size: 20px; 
    font-weight: 350;
}
    
.sharp-product p {
    font-size: 20px;
    font-weight: 350;
}

.metallic-color p {
    font-size: 20px;
    font-weight: 350;
}

.material-product p {
    font-size: 20px;
    font-weight: 350;
}

.order-btn {
    margin-top: 14px;
    width: 100%;
    font-size: 27px;
    padding: 10px 10px;
    background-color: #B48C72;
    border: none;
    color: white;   
    text-transform: uppercase;
}

.color1, .color2, .color3 {
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 5px;
    margin-right: 5px;
}

.color1 {
    background-color: #F1D28F;
}

.color2 {
    background-color: #EFBD97;
}

.color3 {
    background-color: #D0D0D0;
}